nav.navbar{
    position: fixed;
}
div.newpost{
    margin-left: 700px;
}
a.navbar-brand{
  margin-left: 150px;
   
}
#nav-tab{
    padding-top: 56px;
    justify-content: center;
}
img{
    width: 100%;
    margin: 0px;
    padding: 2px;

}
div.col-4{
    padding: 0;
}

