.instagram{
    font-family: 'Courgette', cursive;
}
nav.navbar{
    position: fixed;
    z-index: 2;
    background-color: rgb(199, 198, 198);
}
div.newpost{
    margin-left: 700px;
    position: relative;
    
}
.hphoto{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
a.navbar-brand{
  margin-left: 150px;
   
}
#nav-tab{
    padding-top: 56px;
    justify-content: center;
}
div.col-4 img{
    width: 100%;
    margin: 0px;
    padding: 2px;

}
div.col-4{
    padding: 0;
}
div.modal-backdrop.fade.show{
    position: relative;
}
div.card{
    background-color: rgb(172, 172, 172);
}
#comment{
    width: 610px;
}
#photomodal{
   transform: scale(1.7);
}